/* Transform.html */
.box {
  height: 100px;
  width: 100px;
  border: 1px solid rebeccapurple;
}
.outer{
    background-color: gray;
}
.inner{
    background-color: orangered;
    transform: scale(0.75) rotate(45deg);

}